<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/27908133/pexels-photo-27908133/free-photo-of-a-bicycle-is-parked-in-the-grass-in-a-field.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="post-image" class="card-ing-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>
        <h5 class="mt-1"> HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY </h5>
        <p>Latest picture of the world</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - Sep 23, 2023</small>


        </div>
</div>
