<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-efforts">
                <img src=" https://images.pexels.com/photos/27908133/pexels-photo-27908133/free-photo-of-a-bicycle-is-parked-in-the-grass-in-a-field.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <div class="card-body"> 
                    <small class="bg-light text-danger test-center">Design</small>
                    <small class="bg-light text-success test-center ml-2">Feature</small>
                    <small class="bg-light text-info test-center ml-2">Views - 100,256</small>
                    <small class="bg-light text-warning test-center ml-2">LAST UPDATED - AUG 27, 2024</small>
                     <h1 class="mt-3 mb-3">HYTTEFADET Post are available </h1>
                     <p>A houseboat is a boat that has been designed or modified to be used primarily for regular dwelling. Most houseboats are not motorized, as they are usually moored or kept stationary, fixed at a berth, and often tethered to land to provide utilities. However, many are capable of operation under their own power.

                        Houseboats are largely found on small inland rivers, lakes, and streams, and in coastal harbours, especially where there is good fishing,[1] in many countries of the world.
                        A houseboat is a boat that has been designed or modified to be used primarily for regular dwelling. Most houseboats are not motorized, as they are usually moored or kept stationary, fixed at a berth, and often tethered to land to provide utilities. However, many are capable of operation under their own power.

                        Houseboats are largely found on small inland rivers, lakes, and streams, and in coastal harbours, especially where there is good fishing,[1] in many countries of the world.
                        A houseboat is a boat that has been designed or modified to be used primarily for regular dwelling. Most houseboats are not motorized, as they are usually moored or kept stationary, fixed at a berth, and often tethered to land to provide utilities. However, many are capable of operation under their own power.

                        Houseboats are largely found on small inland rivers, lakes, and streams, and in coastal harbours, especially where there is good fishing,[1] in many countries of the world.
                        A houseboat is a boat that has been designed or modified to be used primarily for regular dwelling. Most houseboats are not motorized, as they are usually moored or kept stationary, fixed at a berth, and often tethered to land to provide utilities. However, many are capable of operation under their own power.

                        Houseboats are largely found on small inland rivers, lakes, and streams, and in coastal harbours, especially where there is good fishing,[1] in many countries of the world.</p>
                        A houseboat is a boat that has been designed or modified to be used primarily for regular dwelling. Most houseboats are not motorized, as they are usually moored or kept stationary, fixed at a berth, and often tethered to land to provide utilities. However, many are capable of operation under their own power.

Houseboats are largely found on small inland rivers, lakes, and streams, and in coastal harbours, especially where there is good fishing,[1] in many countries of the world.
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
