<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
         
            <p>The MCA Blog Platform is a secure, user-friendly system designed for students and faculty to share blog posts within the department. It allows users to create, edit, and manage blogs while incorporating image uploads to make posts more engaging. The platform ensures that only department members have access, maintaining privacy and fostering collaboration. Users can also subscribe to specific blogs to receive updates, enhancing communication and interaction. Built with Angular and secured by a robust login system, the platform provides a seamless, interactive experience for all users.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>
