<div class="card mb-5 mt-5 pd-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-4 mb-3">Comments(15,256)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> Jone </h6>
            <small class="text-danger"> LAST UPDATED - AUG 29,2021 </small>

            <div class="mt-3mb-3">
                Keep it up. Excellent Keep up the good work. Exceptional Magnificent Exciting Majestic thoughts Exemplary Marvelous Exhilarating Meritorious Extraordinary Much better Fabulous My goodness, how impressive! Fantastic Nice going Favorable Noble Fine Noteworthy Fine job Now you've figured it out.
            </div>
            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-5"> View Reply </a>
            <hr>
        </div>

    </div>
</div>
