<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">
                If you're new here, hit the subscribe button so you make sure to never miss my weekly videos.
            </p>

            <form action="" class="row g-3 justify-content-center mb-5 mt-5">
                <!-- Name Input -->
                <div class="col-md-4">
                    <input type="text" class="form-control shadow-effect" placeholder="Your name" required>
                </div>
                
                <!-- Email Input -->
                <div class="col-md-4">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address" required>
                </div>
                
                <!-- Subscribe Button -->
                <div class="col-md-2 d-flex align-items-center">
                    <button type="submit" class="btn btn-info btn-block btn-theme w-100">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>
